body {
	background: black;
	color: white;
	font-family: system-ui;
}

.btn {
	padding: 10px 20px;
	background: linear-gradient(45deg, #6366f1, #ec4899);
	border-radius: 10px;
}

.btn-outline {
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 10px;
}
